.selectbox-multiple {
    overflow-x: none;
}
.selectbox-dropdown {
    display:block;
    clear: both;
    display:none;
    height: 8em;
    width: auto;
    overflow-x: none;
    overflow-y: auto;
    border: 1px solid #888888;
    border-top: none;
    box-shadow: 2px 2px 2px #bbbbbb;
}
.expand-selectbox-dropdown {
    cursor: pointer;
}
.expand-selectbox-dropdown:hover, .expand-selectbox-dropdown:active {
    background-color: #ffffff;
}
.dropdown-option {
    display:block;
    box-sizing: border-box;
    width:100%;
    border-bottom: 1px solid #dddddd;
    padding-left: 5px;
    background-color: white;
    cursor: pointer;
    height: 2em;
    font-family: sans-serif;
    font-size: 0.8em;
}
.dropdown-option:hover, .dropdown-option:active {
    background-color: #cccccc;
}
.selectbox-tag-block {
    width: 320px;
    max-width: 320px;
    margin: none;
    padding: none;
}
.select-tag {
    display: none;
    float: left;
    width: auto;
    height: auto;
    padding: 3px;
    margin: 5px 5px 3px 5px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: #dddddd;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 100;
    color: #000000;
}
.action-icon {
    cursor: pointer;
    font-weight: 100;
}
.action-icon:hover, .action-icon:active {
    color: #888888;
}
.header-btns {
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
}
.btn-soft {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    color: #cccccc;
    height: 2em;
    text-align: center;
    text-decoration: none;
}
.btn-soft:active {
    background-color:#eeeeee;
    box-shadow: 1px 1px 1px 1px green;
    color: green;
}
.btn-soft:hover {
    background-color:#dddddd;
    box-shadow: 1px 1px 1px 1px #dddddd;
    color: #ffffff;
}
.btn-soft:disabled {
    background-color:#ffffff;
    box-shadow: none;
    color: red;
}
.pull-right {
    clear: right;
}
