<?php session_start(); ?>
<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<title>Doc's Excellent Select Multiple Example</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/select-multiple.css">
<script src="js/jquery-3.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="js/select-multiple.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 offset-xs-3">
                <div class="card selectbox-multiple">
                    <div class="card-title text-center">
                        Search Multiple
                    </div>
                    <form id="searchForm" method="post" action="#">
                        <div class="form-group header-btns">
                            <button type="submit" id-"searchBtn" class="btn btn-soft pull-right">Save <i class="fa fa-check"></i></button>
                        </div>
                        <div class="card-block">
                            <div class="selectbox-tag-block">
                                <div class="select-tag">
                                    <span class="select-tag-text"></span>
                                    <i class="fa fa-times action-icon"></i></div>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon expand-selectbox-dropdown"><i class="fa fa-angle-down"></i></span>
                                <input type="text" id="search" class="form-control" autocomplete="off" />
                            </div>
                            <div class="selectbox-dropdown"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
